nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: var(--main-red);
  }
  
  #header-img {
    width: 20%;
    height: 10%;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
   html {
     font-size: 78.5%;
   } 
  }